$primary-color: #70161E;
body{
    font-family: impact ,"微軟正黑體";
    color: $primary-color;
    background-color: #eba0bf;
}
.btn-primary{
    background-color: $primary-color;
    color: rgb(39, 149, 168);
    padding: 8px;
    border-radius: 4px;
    text-decoration: none;
    letter-spacing: 5px;
}