@charset "UTF-8";
body {
  font-family: impact, "微軟正黑體";
  color: #70161E;
  background-color: #eba0bf;
}

.btn-primary {
  background-color: #70161E;
  color: #2795a8;
  padding: 8px;
  border-radius: 4px;
  text-decoration: none;
  letter-spacing: 5px;
}